/********** General Settings **********/
/* Basic page setup */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vh;
  pointer-events: none;
  padding: 1REM;
  margin: auto;
}

.App-body {
  background-color: black; 
  min-height: 100vh;
  min-width: 80vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Specific components */
.lcars-title p {
  margin: -.5REM;
  font-size: 1.7REM;
}

.text {
  font-size: 1REM;
}

h1 {
  margin: -1REM auto 2REM;
  font-family: 'Rambla', sans-serif;
}

h2.results {
  font-size: 2REM;
  color: dodgerblue;
}

.App-link {
  color: #61dafb;
}

.content {
  margin: 1REM;
  padding: 1REM;
  border-radius: 10%;
  min-width: 70vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NAVAGATIOIN */
nav {
  margin: 0 auto;
  max-width: 80%;
  font-family: 'Rambla', sans-serif;
}
a.normal {
  color: dodgerblue;
}

a.active {
  background-color: #d64 !important;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  list-style: none;
}

nav a:hover {
  background-color: #c69 !important;
}

nav a:active {
  background-color: dodgerblue !important;
}

nav a {
  margin: 0.2REM;
  padding: 0;
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: black;
}

.splitDiv {
  justify-content: space-around;
  display: flex;
  margin: 0 auto;
}

/* Containers */
.subContainer {
  display: flex;
  max-width: 45%;
}

.innerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.showsPicture {
  margin: 0 auto;
  max-width: 85%;
}

/* Media Lists Menu */
.showsMenu {
  list-style: none;
}

ul.listItem {
  margin-left: -2REM;
}

.listItem {
  font-size: 1.5REM;
  margin: 0REM 1REM 0REM -2REM;
  
}

.listItem:hover {
  background-color: #746;
}

.resultsMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin-left: -2REM;
}

.services {
  margin: 0 3REM;
  display: flex;
  justify-content: space-around;
}

.servicesItem {
  padding: 1REM;
  border: solid 0.5REM rgb(0, 0, 0);
}

.servicesItem:hover {
  border: solid 0.5REM rgb(24, 128, 212);
}

/* Media Info Content */
.showsContent ul {
  list-style: none;
}

.showName {
  color: #9cf;
}

.showDesc {
  color: #9cf;
}

/********** LCARS Mods **********/
.lcars-bracket {
  min-width: 2REM;
}

/********** Media Calls **********/

@media (max-width: 1500px) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
      height: 20vmin;
      pointer-events: none;
      padding: 1REM;
    }

    .lcars-title p {
      margin: 0REM;
      font-size: 1.2REM;
    }

  nav ul {
    display: flex;
    flex-direction: column;
  }

  .splitDiv {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: 0 auto;
  }

  .subContainer {
    margin: 1REM;
    font-size: 1.5REM;
    display: flex;
    max-width: 95%;
  }
    .showsPicture {
      margin: 0 auto;
      max-width: 75%;
    }

  nav {
    width: 100%;
  }

  nav ul {
    align-content: center;
  }

  nav ul li {
    min-width: 90%;
  }
  .nav-item {
    width: 100%;
    text-align: center;
    border-radius: 1.5rem;
    padding-left: 1.5rem;
  }

} /* End Media Call 1500px */

@media (max-width: 1000px) {
  .services {
    flex-direction: column;
  }

  .lcars-title p {
    margin: -.08REM;
    font-size: 1REM;
  }

  .lcars-u-1 {
    display: none;
  }

  #footer {
    display: none;
  }

  #container {
    padding: 0;
    margin: 0;
  }

  #root {
    width: 100%;
  }

  .lcars-bracket {
    min-width: .5REM;
  }

  .lcars-app-container {
    display: flex;
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    overflow: hidden;
    margin: 0.5rem;
  }
  .lcars-app-container #left-menu {
    margin: 0;
    padding: 0;
    height: 100%;
    left: 0.5rem;
  }
  .lcars-app-container #header {
    position: fixed;
    background-color: #000;
    width: calc(100% - 1rem);
    top: 0;
    left: 0.5rem;
    padding-top: 0.5rem;
    margin-bottom: 0.25rem;
    z-index: 1;
  }
  .lcars-app-container #footer {
    background-color: #000;
    bottom: 0;
    left: 0.5rem;
    padding-bottom: 0.5rem;
    width: calc(100% - 1rem);
    z-index: 1;
  }
  .lcars-app-container #container {
    margin-top: 5REM;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
} /* End Media Call 1000px */